# dependencies
node_modules/
.pnp.*

# package-manager caches and logs
.yarn/
.pnpm-store/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# testing
/coverage

# Next.js
.next/
out/

# Other build output
build/

# local/system files
.DS_Store
*.pem

# env files
.env
.env.local
.env.*.local
!.env.example
!.env.*.example

# deployment
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts
